body {
    font-family: Arial;
    text-align: center;
}

.form-container, .welcome-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    }

form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}


h2 {
    margin-bottom: 1rem;
    color: #333;
}

.shoe{
    border: 1px solid #ccc;
    padding: 10px 0;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}